/** General Helpers **/
.block {
  display: block;
}

.inline {
  display: inline;
}

.inline.block {
  display: inline-block;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

/** Button Helpers **/
button.small {
  min-height: 1rem;
  padding: 0.1rem 0.2rem;
  line-height: 1.1;
}

/** Form Helpers **/
.field {
  position: relative;
  padding: calc(var(--wc-spacing) / 2) 0 0;
  margin-top: 0.8rem;
}

.field label {
  margin-right: calc(var(--wc-spacing) / 2);
  text-align: left;
}

.field input + label {
  width: 100%;
  transform: scale(0.8) translateY(50%);
  transition: opacity 0.5s, transform 0.2s ease-out;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 0 0;
  opacity: 1;
}

.field input + label.up,
.field input:focus + label,
.field input:not(:placeholder-shown) + label {
  opacity: 0.7;
  transform: scale(0.8) translateY(-50%);
}

/** List Helpers **/
ul.unstyled,
ol.unstyled {
  list-style: none;
  padding: 0;
  margin-left: 0;
}

ul.inline {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

ul.inline li {
  margin: 0 calc(var(--wc-spacing) / 2);
  display: inline-block;
  vertical-align: top;
}

/* Dividers */
.text-divider {
  display: flex;
  align-items: center;
}

.text-divider::before,
.text-divider::after {
  content: "";
  height: 1px;
  background-color: silver;
  flex-grow: 1;
}

.text-divider::after {
  margin-left: var(--wc-spacing, 1rem);
}

.text-divider::before {
  margin-right: var(--wc-spacing, 1rem);
}

/* Accessibility checks */
a[title=""],
a:not([title]) {
  color: red !important;
}

img:not(alt) {
  border: 2px solid red;
}
